
:root { /* custom value*/
    /* accent color in hsl used to compute shades automatically */
    /* default: 36, 94%, 48% */
    --hue: 36;
    --saturation: 94%;
    --lightness: 48%;
}

:root { /* theme custom values */
    --lightness-dark: calc(var(--lightness) - 8%);
    --lightness-really-dark: calc(var(--lightness) - 30%);
    --custom-color-light-grey: #2b3346;
    --custom-color-dark-grey: #1c2538;
    --custom-color-accent-really-dark: #2b2b2b;
    --custom-color-off-white: #000000;
    --custom-color-accent-light: #ff2323;
    --custom-color-accent-dark: #fd434a;
    --custom-color-slider1: #ff0000;
    --custom-color-slider2: #fa17ca;
    --custom-color-secondary-text: #bebebe;
    --custom-value-scrollbar-width: 8px;
    --custom-value-font: 'Roboto Condensed', sans-serif;
    --custom-value-font-weight: 300;
    --custom-color-chat-bubble-code: #141922;
    --custom-color-channel-commander-light: rgb(255, 205, 29);
    --custom-color-channel-commander-dark: #8d7007;
}

:root { /* override everywhere (bad practice ) */
    --tsv-icon-tint: var(--custom-color-accent-light) !important;
    --tsv-icon-tint2: var(--custom-color-accent-light) !important;
    --tsv-tint: var(--custom-color-accent-light) !important;
    --tsv-tint2: var(--custom-color-accent-light) !important;
    --tsv-separation-border: none !important;
    --tsv-control-handle-active-bg: var(--custom-color-accent-light) !important;
    --tsv-button-bg: var(--custom-color-accent-dark) !important;
    --tsv-button-hover-bg: var(--custom-color-accent-light) !important;
    --ts-menu-action-color: var(--custom-color-accent-dark) !important;
    --tsv-icon-folder: var(--custom-color-accent-light) !important;
    --tsv-chat-remote-bg: #B4CAEB !important;
    --tsv-chat-self-bg: #AAEAE5 !important;
    --tsv-chat-deleted-bg: rgba(255, 130, 130, 0.25) !important;
    --tsv-chat-remote-font-color: #403f61 !important;
    --tsv-chat-self-font-color: #403f61 !important;
    --tsv-chat-deleted-font-color: #DA3250 !important;
    --tsv-chat-link-color: #044f6b !important;
    --ts-chat-system-highlight-text-color: var(--custom-color-accent-light) !important;
    --tsv-content-branding-fancy-bg: var(--tsv-content-branding-bg) !important;

}

.ts-checkbox-checkmark-path {
    stroke: var(--custom-color-accent-light) !important;
}

:is(.ts-chat-room-event-detailed, .ts-chat-room-event-compact) :is(.ts-chat-message-status, .ts-chat-message-status-detailed) path {
    stroke: var(--custom-color-accent-light) !important;
}

::-webkit-scrollbar-track {
    background: inherit;
}

::-webkit-scrollbar {
    width: var(--custom-value-scrollbar-width) !important;
    height: 0px !important;
}

::-webkit-scrollbar-thumb {
    background-color: var(--custom-color-accent-light) !important;
}

.tsv-icon-contact-status-favorite, .tsv-icon-chat-room-status-favorite {
    z-index: 10;
    left: 13px !important;
    top: 4px !important;
    stroke: rgba(0,0,0,.7);
    stroke-width: 1.3px;
    transform: scale(1);
}

.tsv-view-banner :is(.tsv-icon-contact-status-favorite, .tsv-icon-chat-room-status-favorite) {
    transform: scale(0.5);
    left: 30px !important;
    top: 15px !important;
}

.tsv-icon-contact-status-favorite rect, .tsv-icon-chat-room-status-favorite rect {
    display: none;
}

/* Show current Channel Icon/SVG */
.tsv-icon-channel-show-chat path{
	d: path('M268.191,0C133.754,0,24.381,109.373,24.381,243.81c0,34.645,7.07,67.974,21.041,99.206L1.17,480.134 c-2.999,9.338-0.122,19.578,7.339,25.99c4.51,3.852,10.167,5.876,15.872,5.876c3.706,0,7.461-0.853,10.898-2.56l98.865-49.445 c0.414,0.244,0.853,0.463,1.292,0.707c33.451,16.628,94.964,26.917,132.754,26.917c134.437,0,243.81-109.373,243.81-243.81 S402.627,0,268.191,0z M170.667,268.191c-13.458,0-24.381-10.923-24.381-24.381c0-13.458,10.923-24.381,24.381-24.381 c13.458,0,24.381,10.923,24.381,24.381C195.048,257.268,184.125,268.191,170.667,268.191z M268.191,268.191 c-13.458,0-24.381-10.923-24.381-24.381c0-13.458,10.923-24.381,24.381-24.381c13.458,0,24.381,10.923,24.381,24.381 C292.571,257.268,281.649,268.191,268.191,268.191z M365.714,268.191c-13.458,0-24.381-10.923-24.381-24.381 c0-13.458,10.923-24.381,24.381-24.381s24.381,10.923,24.381,24.381C390.095,257.268,379.173,268.191,365.714,268.191z')!important;
}
.tsv-icon-channel-show-chat path{
    transform: scale(0.039);
    left: -300px !important;
    top: 10px !important;
}

.tsv-icon-contact-status-favorite path, .tsv-icon-chat-room-status-favorite path {
    /* d: path('M19.4,13.5 21.4,17.6 25.9,18.2 22.7,21.4 23.4,25.9 19.4,23.8 15.4,25.9 16.2,21.4 12.9,18.2 17.4,17.6z') !important; */
    /*d: path('insert here Code');*/
    d: path('M15,5H8C6.9,5,6,5.9,6,7v3h3v11l4-3l4,3V7C17,5.9,16.1,5,15,5z M9,9H7V7c0-0.6,0.4-1,1-1h1V9z');

    fill: var(--custom-color-accent-light);
}

.ts-vad-bar-overlay {
    background: initial !important;
}

.ts-slider-track {
	border-radius: 5px !important;
}

.ts-slider .ts-slider-track .ts-slider-knob .ts-slider-knob-bubble {
    white-space: nowrap;
}

.ts-slider-track[style] {
    background: linear-gradient(90deg, var(--custom-color-accent-light), var(--custom-color-accent-dark));
}

.ts-slider:not(.ts-slider-compact) .ts-slider-segment::after {
	content: "";
	position: absolute;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	top: -2px;
	left: -2px;
	border-radius: 5px;
	border: 2px solid var(--custom-color-light-grey);
}

.ts-slider:not(.ts-slider-compact) .ts-slider-segment {
    border-radius: 0;
    margin: 0px !important;
    border: 2px solid var(--custom-color-light-grey);
}

.ts-slider-compact .ts-slider-segment {
	border-radius: 0;
	margin: 0px !important;
	--border: 2px solid var(--custom-color-light-grey);
	border-bottom: var(--border);
	border-top: var(--border);
}

.ts-slider-compact .ts-slider-segment:first-child {
	border-left: var(--border);
}

.ts-slider-compact .ts-slider-segment:last-child {
	border-right: var(--border);
}

.ts-slider-segment:first-child {
	border-top-left-radius: 5px !important;
	border-bottom-left-radius: 5px !important;
}

.ts-slider-segment:last-child {
	border-top-right-radius: 5px !important;
	border-bottom-right-radius: 5px !important;
}
.ts-slider-segment-value {
    border-radius: 0px !important;
}

.ts-slider-segment-value.ts-slider-segment-value-off {
    background: var(--custom-color-light-grey) !important;
    transform: scale(1);
    opacity: .8;
    border: 2px solid transparent;
}

.ts-slider-segment-value.ts-slider-segment-value-on {
    background: transparent !important;
}

.tsv-activity-detail .tsv-segmented-control {
    --tsv-bg: var(--custom-color-light-grey);
}

.ts-chat-input-container {
    background: var(--custom-color-dark-grey) !important;
    border: none !important;
}

.ts-chat-input-container-content {
    --tsv-bg: var(--custom-color-dark-grey);
}

.tsv-activity-primary .ts-chat-input-container {
    background: var(--custom-color-dark-grey) !important;
}

.tsv-activity-primary .ts-chat-input-container-content {
    --tsv-bg: var(--custom-color-dark-grey);
    --tsv-shaded-bg: var(--custom-color-dark-grey);
}

.ts-chat-input-container:is(:hover, .focus)::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 0 1px var(--custom-color-accent-light);
    pointer-events: none;
    z-index: 20;
    border-radius: var(--tsv-border-radius);
}

.ts-chat-room-event-detailed .ts-chat-room-event-bubble.self-mention {
    background: transparent;
}

.ts-chat-room-event-detailed .ts-chat-room-event-bubble.self-mention::before {
    content: none;
}

.ts-chat-room-event-bubble.self-mention {
    color: var(--tsv-chat-mention-bg);
}

.ts-chat-message-system-body {
    --ts-chat-system-message-color: #dfdfdf0c;
}

div:not(.channel-commander) > div > .tsv-icon-client-talking circle {
    fill: var(--custom-color-accent-light) !important;
}

div:not(.channel-commander) > div > .tsv-icon-client-normal circle, div:not(.channel-commander) > div > .tsv-icon-client-voiceless circle {
    fill: var(--custom-color-accent-really-dark) !important;
}

div.channel-commander > div > .tsv-icon-client-talking circle {
    fill: var(--custom-color-channel-commander-light) !important;
}

div.channel-commander > div > :is(.tsv-icon-client-normal, .tsv-icon-client-voiceless) circle {
    fill: var(--custom-color-channel-commander-dark) !important;
}

div.channel-commander ellipse {
    --tsv-icon-tint: var(--custom-color-channel-commander-dark) !important;
}
