@import url(1Default.css);
/*#8EBBE0*/

:root {
  --custom-color-accent-light: #8EBBE0; /*main accent*/
  --custom-color-accent-dark: #8EBBE0;
  --custom-color-slider1: #8EBBE0;
  --custom-color-slider2: #4fa9f3;
  --tsv-font-subtitle-color: #8EBBE0 !important; /* for spacer etc...*/
  --tsv-chat-link-color: #2683ce !important; /* Link in chat */
  --tsv-highlight-color: #55e8ff !important;
}

/*Image Background Sever Channel Root*/
.ts-server-tree-item-root {
    background-image:url(Goku_backgr.gif); /* https://i.imgur.com/zd49st0.gif  or  https://i.imgur.com/XI98AjS.gif*/
    background-position:center;
    background-repeat: no-repeat;

}
/*Image Background at Dashboard and Settings*/
.ts-background-hexes-container {
  background-image:url(),
                   url(Goku_small.png);


    background-position: 50% 106%, -15% 100% ;
    background-repeat: no-repeat;
    background-size: 50%, 35% auto;
}

/*Remove image from chat Background*/
.ts-chat-container .ts-background-hexes-container {
    background: url();
}
