@import url(1Default.css);
/*#B03063*/

:root {
  --theMain-Color: #A94D72;
  --custom-color-accent-light: var(--theMain-Color);
  /*main accent*/
  --custom-color-accent-dark: var(--theMain-Color);
  --custom-color-slider1: var(--theMain-Color);
  --custom-color-slider2: var(--theMain-Color);
  --tsv-font-subtitle-color: var(--theMain-Color) !important;
  /* for spacer etc...*/
  --tsv-chat-link-color: #d800ff !important;
  /* Link in chat */
  --tsv-highlight-color: #da9fff !important;
}

/*Image Background Sever Channel Root*/
.ts-server-tree-item-root {
  background-image: url(Jibril_small_2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-position: 50% 115%;
}

/*Image Background at Dashboard and Settings*/
.ts-background-hexes-container {
  background-image: url(),
    url(Jibril_SFW.png);


  background-position: 50% 106%, -5% 100%;
  background-repeat: no-repeat;
  background-size: 50%, 22% auto;
}

/*Remove image from chat Background*/
.ts-chat-container .ts-background-hexes-container {
  background: url();
}

/*Set spacer other color, if not wanted delet or Comment out ! Else color of theme*/

div.spacer span.tsv-tree-preserve-spaces {
  color: #8f8c8c !important;
}

.ts-server-tree-channel-info {
  color: #db3d8d !important;
}