@import url(1Default.css);
/*#B03063*/

:root {
  --custom-color-accent-light: #B03063; /*main accent*/
  --custom-color-accent-dark: #B03063;
  --custom-color-slider1: #B03063;
  --custom-color-slider2: #fa17ca;
  --tsv-font-subtitle-color: #B03063 !important; /* for spacer etc...*/
  --tsv-chat-link-color: #9d00ff !important; /* Link in chat */
  --tsv-highlight-color: #ff0066 !important;
}

/*Image Background Sever Channel Root*/
.ts-server-tree-item-root {
    background-image:url(Koneko_SFW.png);
    background-position:center;
    background-repeat: no-repeat;

}
/*Image Background at Dashboard and Settings*/
.ts-background-hexes-container {
  background-image:url(),
                   url(Koneko_small.png);


    background-position: 50% 106%, -9% 100% ;
    background-repeat: no-repeat;
    background-size: 50%, 23% auto;
}

/*Remove image from chat Background*/
.ts-chat-container .ts-background-hexes-container {
    background: url();
}
