@import url(1Default.css);
/*#B03063*/

:root {
  --theMain-Color: #7093BC;
  --custom-color-accent-light: var(--theMain-Color); /*main accent*/
  --custom-color-accent-dark: var(--theMain-Color);
  --custom-color-slider1: var(--theMain-Color);
  --custom-color-slider2: var(--theMain-Color);
  --tsv-font-subtitle-color: var(--theMain-Color) !important; /* for spacer etc...*/
  --tsv-chat-link-color: #006cb9 !important; /* Link in chat */
  --tsv-highlight-color: #125db5 !important;
}

/*Image Background Sever Channel Root*/
.ts-server-tree-item-root {
    background-image:url(Lucy_SFW.png);
    background-position:center;
    background-repeat: no-repeat;

}
/*Image Background at Dashboard and Settings*/
.ts-background-hexes-container {
  background-image:url(),
                   url(Lucy_small_2.png);


    background-position: 50% 106%, -3% 100% ;
    background-repeat: no-repeat;
    background-size: 50%, 15% auto;
}

/*Remove image from chat Background*/
.ts-chat-container .ts-background-hexes-container {
    background: url();
}
/*Set spacer other color, if not wanted delet or Comment out ! Else color of theme*/
div.spacer span.tsv-tree-preserve-spaces{
  color: #71b0c5 !important;
}
