@import url(1Default.css);
/*#B03063*/

:root {
  --theMain-Color: #7c3fa7 ;
  --custom-color-accent-light: var(--theMain-Color); /*main accent*/
  --custom-color-accent-dark: var(--theMain-Color);
  --custom-color-slider1: var(--theMain-Color);
  --custom-color-slider2: var(--theMain-Color);
  --tsv-font-subtitle-color: var(--theMain-Color) !important; /* for spacer etc...*/
  --tsv-chat-link-color: #d800ff !important; /* Link in chat */
  --tsv-highlight-color: #da9fff !important;
}

/*Image Background Sever Channel Root*/
.ts-server-tree-item-root {
    background-image:url(Madara.png);
    background-position:center;
    background-repeat: no-repeat;
    background-size: 85%;
    background-position: 200% 100%;
}
/*Image Background at Dashboard and Settings*/
.ts-background-hexes-container {
  background-image:url(),
                   url(Madara_small.png);


    background-position: 50% 106%, -0% 100% ;
    background-repeat: no-repeat;
    background-size: 50%, 15% auto;
}

/*Remove image from chat Background*/
.ts-chat-container .ts-background-hexes-container {
    background: url();
}

/*Change Icons from Rooms*/
.tsv-icon-chat-room path {
d: path("M 173.003 2.685 C -0.828 29.885 -59.556 241.163 77.014 348.012 C 154.848 408.906 268.591 403.333 339.634 335.145 C 411.346 266.314 420.549 159.423 361.505 81.121 C 318.134 23.603 241.939 -8.102 173.003 2.685 M 236.364 14.25 C 358.072 38.979 423.421 161.398 373.754 271.625 C 324.736 380.411 177.719 415.23 83.585 340.348 C 15.034 285.817 -7.519 196.24 28.024 119.661 C 63.705 42.784 153.412 -2.605 236.364 14.25 M 152.363 41.045 C 143.531 50.23 131.206 74.336 129.324 86.104 C 128.63 90.448 127.126 92.314 113.476 105.782 C 67.287 151.354 59.942 214.285 94.819 265.642 L 99.558 272.621 L 98.335 281.01 C 97.037 289.912 97.796 296.068 100.939 302.147 C 103.173 306.466 104.05 306.177 86.119 307.033 C 67.764 307.909 66.857 308.436 77.143 312.249 C 96.272 319.339 130.167 319.107 140.176 311.817 C 144.277 308.829 145.929 309.004 161.835 314.115 C 219.96 332.792 283.305 307.968 313.47 254.691 C 319.433 244.159 319.904 243.642 325.659 241.307 C 332.738 238.433 340.742 231.724 342.684 227.035 C 343.446 225.196 344.448 223.691 344.911 223.691 C 346.176 223.691 358.892 237.555 362.168 242.505 C 367.543 250.628 368.062 247.058 363.546 233.012 C 359.745 221.189 352.137 209.756 340.3 198.081 L 329.418 187.347 L 327.116 176.043 C 313.733 110.313 263.149 70.733 193.939 71.834 C 178.101 72.086 171.558 71.799 169.053 70.741 C 167.183 69.951 161.638 68.959 156.729 68.537 L 147.804 67.769 L 151.433 56.749 C 153.428 50.689 155.713 44.353 156.509 42.67 C 158.824 37.777 156.413 36.832 152.363 41.045 M 221.488 79.915 C 273.262 88.474 313.959 130.189 321.171 182.094 L 321.898 187.328 L 316.837 187.328 C 289.265 187.328 281.145 231.062 306.982 240.405 C 311.744 242.127 311.797 244.232 307.281 252.252 C 278.569 303.242 208.924 327.693 156.561 305.166 L 150.972 302.762 L 151.668 293.711 C 153.612 268.417 132.944 253.588 111.347 264.781 C 108.085 266.471 105.128 267.439 104.775 266.932 C 104.421 266.425 102.479 263.652 100.457 260.77 C 68.2 214.771 74.469 155.403 116.096 112.672 C 127.602 100.861 128.004 100.735 131.591 107.813 C 147.422 139.053 191.679 118.13 181.899 84.03 C 179.949 77.228 195.471 75.615 221.488 79.915 M 189.303 159.121 C 162.244 166.404 153.051 201.387 172.818 221.854 C 187.776 237.341 215.017 237.127 229.72 221.408 C 256.35 192.938 227.699 148.786 189.303 159.121");

  /* d: path('M359.462 47.263 C 346.757 62.570,334.055 63.775,302.254 52.689 C 205.317 18.897,142.014 59.850,70.772 202.443 C 47.359 249.305,21.858 291.568,14.102 296.361 C -54.153 338.545,158.505 390.272,273.141 359.371 C 415.905 320.887,431.224 149.809,294.969 115.612 C 216.051 95.804,147.785 201.677,205.688 254.079 C 250.493 294.626,339.052 253.345,309.576 205.652 C 296.529 184.542,278.815 191.687,280.843 217.241 C 282.197 234.304,272.651 241.379,248.276 241.379 C 196.249 241.379,198.167 164.781,250.655 146.321 C 332.226 117.635,401.234 216.889,348.669 287.294 C 283.603 374.442,153.809 352.749,122.893 249.559 C 85.379 124.350,205.536 22.976,319.296 83.858 C 347.002 98.686,400.000 69.387,400.000 39.242 C 400.000 21.074,377.502 25.525,359.462 47.263 M133.686 320.829 C 158.354 348.737,158.108 348.940,110.776 339.778 C 44.214 326.894,36.482 314.223,64.919 264.631 L 89.655 221.493 99.203 257.056 C 104.455 276.616,119.972 305.314,133.686 320.829 ')!important ; */

  }
 .tsv-icon-chat-room{
    transform: scale(0.05)!important;
    left: -13px !important;
    top: -11px !important;
 }

 @keyframes spin {
        0% {
        transform-origin: 50% 50% ;
        transform: rotate(0deg) scale(1.25);
        transform-box: fill-box;
        }
        100% {
        transform-origin: 50% 50% ;
        transform: rotate(360deg) scale(1.25);
        transform-box: fill-box;
        }
      }

      .tsv-item-container:hover .tsv-icon-chat-room path{
        animation: spin 5s infinite ease-out !important;
      }


/* SIDEBAR HEADER */

.tsv-highlight.tsv-header {
  background: linear-gradient(to bottom, #ff000000 0%, var(--custom-color-accent-dark) 60%, var(--custom-color-accent-light) 100%) !important;
}

.tsv-highlight.tsv-header:before {
  background: linear-gradient(to bottom, rgb(0 0 0 / 30%) 90%, var(--custom-color-accent-light) 100%) !important;
}