@import url(1Default.css);
/*#AC4D6A*/

:root {
  --theMain-Color: #ff7ea5;
  --custom-color-accent-light: var(--theMain-Color); /*main accent*/
  --custom-color-accent-dark: var(--theMain-Color);
  --custom-color-slider1: var(--theMain-Color);
  --custom-color-slider2: var(--theMain-Color);
  --tsv-font-subtitle-color: var(--theMain-Color) !important; /* for spacer etc...*/
  --tsv-chat-link-color: #ce267b !important; /* Link in chat */
  --tsv-highlight-color: #ff004e !important;
}

/*Image Background Sever Channel Root*/
.ts-server-tree-item-root {
    background-image:url(ZeroTwo_backgr.png); /* https://i.imgur.com/MA8TMQ0.png*/
    background-position:center;
    background-repeat: no-repeat;
    background-position: 95% 100%
}

/*Image Background at Dashboard and Settings*/
.ts-background-hexes-container {
  background-image:url(ZeroTwo_logo.png),
                   url(ZeroTwo_Small.png);


    background-position: 50% 106%, -4% 100% ;
    background-repeat: no-repeat;
    background-size: 50%, 23% auto;
}

/*Remove image from chat Background*/
.ts-chat-container .ts-background-hexes-container {
    background: url();
}
